.question{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  background: var(--white-details);
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
}

.question.Highlighted{
  background: #f4f0ff;
  border: 1px solid #835AFD;
}

.question.answered{
  background: #DBDCDD;
}

.question > p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
  line-height: 24px;
}

.question footer {
  display: flex;
  justify-content: space-between;
}

.question footer >div{
  width: fit-content;
}

.question footer .user-info{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.question footer .user-info img{
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background: var(--purple);
  display: block;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  padding: 6px;
}

.question footer span{
  color: var(--gray-dark);
}

.question.Highlighted footer .user-info span {
  color: #29292E;
}