.homepage{
  --aside-with: 676px;
  --main-width: calc(100% - var(--aside-with));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.homepage aside{
  background-color: var(--purple);
  min-width: var(--aside-with);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
  align-items: center;
  justify-content: center;
}

aside image{
  margin-bottom: 8px;
  max-width: 313px;
  display: block;
}

aside strong{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  max-width: 440px;
}

aside p{
  font-size: 24px;
  opacity: 0.7;
  line-height: 32px;
  max-width: 440px;
}


.homepage main{
  width: var(--main-width);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content > img{
  display: block;
  width: 100%;
  max-width: 154.2px;
  margin-bottom: 56px;
}

.main-content button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: min(320px, 100%);
  gap: 8px;
  padding: 13px 58px;
  cursor: pointer;
}

.main-content .buttonGoogle{
  background-color: var(--red);
  color: var(--white-details);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 32px;
}

.main-content .separetor{
  color: var(--gray-medium);
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 32px;
}

.main-content .separetor span{
  min-width: max-content;
  display: block;
}

.main-content .separetor::before,
.main-content .separetor::after{
  content: "";
  width: 100%;
  min-width: min(76px, 100%);
  height: 1px;
  background: var(--gray-medium);
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.main-content form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.main-content input{
  border: 1px solid var(--gray-medium);
  background: white;
  padding: 16px 13px 12px 13px;
  border-radius: 8px;
  width: 100%;
  min-width: min(320px, 100%);
}

.main-content input::placeholder{
  color: var(--gray-medium);
}

.main-content button:last-child{
  background-color: var(--purple);
  color: var(--white-details);
  font-weight: 500;
  border: none;
  border-radius: 8px;
  transition: 250ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content button:last-child:hover{
  background-color: var(--purple-hover);
}